// Place all the styles related to the CoachingController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  background: #4B9ED4;
  color: white;
  font-family: Gotham;
  font-weight: lighter;
}

p {
  text-align: center;
  font-family: Gotham;
}

form {
  text-align: center;
  font-family: Gotham;
}

a {
  text-align: center;
  font-family: Gotham;
}
